h2{
    text-align: center;
}

.paragraph{
    margin-left: 25%;
    margin-right: 25%;
    text-indent: 40px;
    line-height: 1.5;
}

#pr1{
    margin-top: 5%;
}

#pr2{
    margin-bottom: 5%;
}

#course_outcomes{
    margin-bottom: 5%;
}

.outcome{
    margin-left: 25%;
    margin-right: 25%;
}

#video_link{
    font-size: 150%;
}

#video{
    margin-bottom: 5%;
}

#download_section{
    margin-bottom: 10%;
}

.left_download{
    float: left;
    margin-left: 25%;
}

.right_download{
    float: right;
    margin-right: 25%;
}

#enhancement_1{
    margin-bottom: 5%;
}

#enhancement_2{
    margin-bottom: 5%;
}

#enhancement_3{
    margin-bottom: 5%;
}